<mat-toolbar color="primary" class="flex justify-content-between">
  {{title}}
  <a routerLink="/blog" href=" " color="accent" mat-stroked-button>Blogs</a>
  <div>
    <button [matMenuTriggerFor]="menu" mat-icon-button color="" aria-label="Example icon button with a home icon">
      <mat-icon matBadge={{items.length}} matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngFor="let item of items;">
        <button mat-menu-item><mat-icon color="warn">person</mat-icon>{{item}}</button>
      </div>
    </mat-menu>

    <a routerLink="/login" href=" " color="accent" mat-stroked-button>Login</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
